<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/current_learning.css">
</head>
<body>
    <nav>        
        <% if (isLoggedIn()) { %>
        <form action="/sessions" method="post">
          <input type="hidden" name="_method" value="delete" />
          <button>logout</button>
        </form><% } %>
        <form action="/learnings/<%= learnings.user_id %>" method="get">
            <input type="hidden" />
            <button>home</button>
          </form>
    </nav>

    <form action="/delete/<%= learnings.learning_id%>" method="post">
        <input type="hidden" name="_method" value="delete" />
        <input type="hidden" name="learning_name" value="<%= learnings.learning_name %>" />
        <input type="hidden" name="learning_id" value="<%= learnings.learning_id %>" />
        <button class = navDelete>delete</button>
      </form>

    
        <section>
            <% for (const element of learnings.learnarray)  { %>
    
                <div class="container">
                    <div class="trunkWrapper style1">
                        <form action="/learnings/<%= learnings.learning_id %>" method="post">
                            <input type="hidden" name="_method" value="put" />
                            <input type="hidden" name="hierarchy" value="higher">
                            <input type="hidden" name="learning_id" value="<%= learnings.learning_id %>" />
                            <input type="hidden" name="learning_name" value="<%= element %>" >
                            <input type="hidden" name="user_id" value="<%= learnings.user_id %>" />
                            <label for="" name = "new_learning_name">Higher concept</label>
                            <input type="text" name="new_learning_name"/>
                            <button id = "add">Add</button>
                        </form>
                        <form action="/learnings/:<%= learnings.user_id %>" method="post">
                                <input type="hidden" name="_method" value="put" />
                                <input type="hidden" name="hierarchy" value="lower">
                                <input type="hidden" name="learning_id" value="<%= learnings.learning_id%>" />
                                <input type="hidden" name="learning_name" value="<%= element %>" >
                                <input type="hidden" name="user_id" value="<%= learnings.user_id %>" />
                                <label for="" name = "new_learning_name">Lower concept</label>
                                <input type="text" name="new_learning_name"/>
                                <button id = "add">Add</button>
                        </form>
                    </div>
                    <div class = "trunk">
                        <form action="/notes/learning_name" method="get">
                            <input type="hidden" name="user_id" value="<%= learnings.user_id%>" />
                            <input type="hidden" name="learning_id" value="<%= learnings.learning_id%>" />
                            <input type="hidden" name="learning_name" value="<%= element %>" >
                            <button id = "add" class = "style1">Develop</button>
                        </form>
                        <p class = "mainLearning"><%= element %></p>
                    </div>
                    <div>
                </div>
                <form  action="/delete/index<%= learnings.learning_id%>" method="post">
                    <input type="hidden" name="_method" value="delete" />
                    <input type="hidden" name="learning_name" value="<%= learnings.learning_name %>" />
                    <input type="hidden" name="learning_id" value="<%= learnings.learning_id %>" />
                    <button class = "style1">delete</button>
                  </form>
            <% }%>
        </section>
    



    
    <script src="/script.js">
    </script>
    
</body>
</html>

