<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/notes.css">
</head>
<body>
    <header>Notes</header>
    
  <nav>        
        <% if (isLoggedIn()) { %>
        <form action="/sessions" method="post">
          <input type="hidden" name="_method" value="delete" />
          <button>logout</button>
        </form><% } %> |
        <form action="/learnings/<%= notes.user_id %>" method="get">
            <input type="hidden" />
            <button>home</button>
          </form> |
  </nav>

  <h3><%= notes.learning_name %></h3>

  <form action="/notes/:<%= notes.note_id %>" method="post">
    <input type="hidden" name="_method" value="put" />
    <input type="hidden" name="learning_id" value="<%= notes.learning_id%>" />
    <input type="hidden" name="learning_name" value="<%= notes.learning_name %>" >
    <input type="hidden" name="user_id" value="<%= notes.user_id %>" />
    <input type="hidden" name="notes_id" value="<%= notes.notes_id %>"/>
    <textarea name="" id="" cols="10" rows="10"></textarea>
    <button>Add</button>
    <div class = "current_learnings">

    <% if (notes!== null) { %>
          <% for( let note of notes ) { %>
            <form action="/notes/:<%= notes.note_id %>" method="post">
              <input type="hidden" name="_method" value="put" />
              <input type="hidden" name="learning_id" value="<%= notes.learning_id%>" />
              <input type="hidden" name="learning_name" value="<%= notes.learning_name %>" >
              <input type="hidden" name="user_id" value="<%= notes.user_id %>" />
              <input type="hidden" name="notes_id" value="<%= notes.notes_id %>"/>
              <textarea name="" id="" cols="10" rows="10"></textarea>
              <button>Add</button>
              <textarea cols="30" rows="10"><%= notes %></textarea>

              </form>
          <% } %>
      <% } %>

  </div>
</form>


</body>
</html>